.trigger {
    padding: 0 24px;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #fff;
}

.popover {
    text-align: center;
    font-size: 18px;
}

.parent-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}